Planos, diagramas esquemas/Node-red/flows.json
[
    {
        "id": "8e837879367e8f02",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "75efebdb9e36dc16",
        "type": "mqtt in",
        "z": "8e837879367e8f02",
        "name": "suscriptor",
        "topic": "casa/salon/temperatura",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6bb51fa069205ab1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 120,
        "wires": [
            [
                "139dac42453203cf",
                "f6224dae43b9e744",
                "4b6826d4222fd271"
            ]
        ]
    },
    {
        "id": "139dac42453203cf",
        "type": "debug",
        "z": "8e837879367e8f02",
        "name": "enviado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "63bb069636721c35",
        "type": "mqtt in",
        "z": "8e837879367e8f02",
        "name": "suscriptor",
        "topic": "casa/salon/humedad",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6bb51fa069205ab1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "468b61bfeea3d3d6",
                "2ad5be53d7c70ff7",
                "42f6e94c92323a71"
            ]
        ]
    },
    {
        "id": "468b61bfeea3d3d6",
        "type": "debug",
        "z": "8e837879367e8f02",
        "name": "enviado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "f6224dae43b9e744",
        "type": "ui_gauge",
        "z": "8e837879367e8f02",
        "name": "",
        "group": "75bdbee033ba583f",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "2ad5be53d7c70ff7",
        "type": "ui_gauge",
        "z": "8e837879367e8f02",
        "name": "",
        "group": "75bdbee033ba583f",
        "order": 11,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "humedad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 220,
        "wires": []
    },
    {
        "id": "4b6826d4222fd271",
        "type": "ui_chart",
        "z": "8e837879367e8f02",
        "name": "",
        "group": "75bdbee033ba583f",
        "order": 1,
        "width": 5,
        "height": 3,
        "label": "T°",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 40,
        "wires": [
            [
                "f3bc294dbceeb73c"
            ]
        ]
    },
    {
        "id": "42f6e94c92323a71",
        "type": "ui_chart",
        "z": "8e837879367e8f02",
        "name": "",
        "group": "75bdbee033ba583f",
        "order": 9,
        "width": 5,
        "height": 3,
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f3bc294dbceeb73c",
        "type": "csv",
        "z": "8e837879367e8f02",
        "name": "sensores",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 620,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "3299d3799d674953",
        "type": "mqtt in",
        "z": "8e837879367e8f02",
        "name": "suscriptor",
        "topic": "falla/alta_temperatura",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6bb51fa069205ab1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 520,
        "wires": [
            [
                "bf9bc90c862cd3ea"
            ]
        ]
    },
    {
        "id": "bf9bc90c862cd3ea",
        "type": "function",
        "z": "8e837879367e8f02",
        "name": "function 1",
        "func": "// Inicializar la lista si aún no existe\nif (!context.get('alarms')) {\n    context.set('alarms', []);\n}\n\n// Obtener la lista actual de alarmas\nlet alarms = context.get('alarms');\n\n// Obtener la fecha y hora actual en UTC-3 (horario de Argentina)\nlet date = new Date();\nlet timestamp = date.toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires', hour12: false });\n\n// Agregar la nueva alarma a la lista\nalarms.push({\n    timestamp: timestamp, // Registrar la fecha y hora en horario de Argentina\n    message: msg.payload  // Guardar el mensaje de alerta\n});\n\n// Actualizar la lista en el contexto\ncontext.set('alarms', alarms);\n\n// Pasar la lista actualizada al siguiente nodo\nmsg.payload = alarms;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 500,
        "wires": [
            [
                "dd261bc8124c95f5",
                "2dd8c505e22274a2"
            ]
        ]
    },
    {
        "id": "dd261bc8124c95f5",
        "type": "debug",
        "z": "8e837879367e8f02",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 500,
        "wires": []
    },
    {
        "id": "2dd8c505e22274a2",
        "type": "ui_table",
        "z": "8e837879367e8f02",
        "group": "0bb14a4b4f1f37c9",
        "name": "",
        "order": 1,
        "width": 8,
        "height": 3,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 410,
        "y": 560,
        "wires": []
    },
    {
        "id": "50fbded40f3c02cd",
        "type": "ui_template",
        "z": "8e837879367e8f02",
        "group": "0bb14a4b4f1f37c9",
        "name": "ESP32CAM",
        "order": 2,
        "width": 8,
        "height": 3,
        "format": "<div>\n     <img src=\"http://192.168.2.113:81/stream\" widt=\"320\" height=\"240\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 230,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "7b95a2b0a67f7562",
        "type": "mqtt in",
        "z": "8e837879367e8f02",
        "name": "suscriptor",
        "topic": "casa/salon/gas",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6bb51fa069205ab1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 400,
        "wires": [
            [
                "32aefcaa1bb78bd3",
                "8206263e076f86f1",
                "a261086448a58567"
            ]
        ]
    },
    {
        "id": "32aefcaa1bb78bd3",
        "type": "debug",
        "z": "8e837879367e8f02",
        "name": "enviado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "8206263e076f86f1",
        "type": "ui_gauge",
        "z": "8e837879367e8f02",
        "name": "",
        "group": "75bdbee033ba583f",
        "order": 19,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Gas CO2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "a261086448a58567",
        "type": "ui_chart",
        "z": "8e837879367e8f02",
        "name": "",
        "group": "75bdbee033ba583f",
        "order": 17,
        "width": 5,
        "height": 3,
        "label": "Gas CO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "3000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "09abd65a38836fb1",
        "type": "mqtt out",
        "z": "8e837879367e8f02",
        "name": "",
        "topic": "casa/salon/automatico",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bb51fa069205ab1",
        "x": 440,
        "y": 780,
        "wires": []
    },
    {
        "id": "b279e98723bbba0c",
        "type": "ui_button",
        "z": "8e837879367e8f02",
        "name": "",
        "group": "7698a48cf88fb1a4",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "ON",
        "tooltip": "",
        "color": "white",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 210,
        "y": 800,
        "wires": [
            [
                "09abd65a38836fb1",
                "fbaa0defb7e91a14"
            ]
        ]
    },
    {
        "id": "4b8171b0fa53a66f",
        "type": "ui_button",
        "z": "8e837879367e8f02",
        "name": "",
        "group": "7698a48cf88fb1a4",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 860,
        "wires": [
            [
                "09abd65a38836fb1",
                "fbaa0defb7e91a14"
            ]
        ]
    },
    {
        "id": "eceb1ee5488db67c",
        "type": "ui_led",
        "z": "8e837879367e8f02",
        "order": 1,
        "group": "7698a48cf88fb1a4",
        "width": 4,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 530,
        "y": 840,
        "wires": []
    },
    {
        "id": "fbaa0defb7e91a14",
        "type": "function",
        "z": "8e837879367e8f02",
        "name": "function 2",
        "func": "if (msg.payload === \"ON\") {\n    msg.payload = \"ON\";  // Enviar señal para encender el LED\n} else {\n    msg.payload = \"OFF\";  // Enviar señal para apagar el LED\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 840,
        "wires": [
            [
                "eceb1ee5488db67c"
            ]
        ]
    },
    {
        "id": "93580926662a0327",
        "type": "mqtt in",
        "z": "8e837879367e8f02",
        "name": "suscriptor",
        "topic": "casa/salon/conteohuevos",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6bb51fa069205ab1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 640,
        "wires": [
            [
                "628f438d3e9140ae",
                "6872ce8b9ad2fc32"
            ]
        ]
    },
    {
        "id": "628f438d3e9140ae",
        "type": "debug",
        "z": "8e837879367e8f02",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 640,
        "wires": []
    },
    {
        "id": "6872ce8b9ad2fc32",
        "type": "ui_text",
        "z": "8e837879367e8f02",
        "group": "0bb14a4b4f1f37c9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Conteo de Huevos",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 680,
        "wires": []
    },
    {
        "id": "5",
        "type": "debug",
        "z": "8e837879367e8f02",
        "name": "Respuesta del servidor",
        "active": true,
        "tosidebar": true,
        "tostatus": "",
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1100,
        "wires": []
    },
    {
        "id": "1",
        "type": "inject",
        "z": "8e837879367e8f02",
        "name": "Leer imagen",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 1180,
        "wires": [
            [
                "2"
            ]
        ]
    },
    {
        "id": "2",
        "type": "file in",
        "z": "8e837879367e8f02",
        "name": "Leer archivo de imagen",
        "filename": "/Users/jarar/Downloads/dos.jpg",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 300,
        "y": 1180,
        "wires": [
            [
                "3"
            ]
        ]
    },
    {
        "id": "3",
        "type": "function",
        "z": "8e837879367e8f02",
        "name": "Convertir a Base64",
        "func": "msg.payload = msg.payload.toString('base64');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1180,
        "wires": [
            [
                "4"
            ]
        ]
    },
    {
        "id": "4",
        "type": "mqtt out",
        "z": "8e837879367e8f02",
        "name": "Enviar imagen MQTT",
        "topic": "casa/salon/fotos",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bb51fa069205ab1",
        "x": 750,
        "y": 1180,
        "wires": []
    },
    {
        "id": "182a5655f7604add",
        "type": "comment",
        "z": "8e837879367e8f02",
        "name": "Cont. aut.",
        "info": "Control automático",
        "x": 60,
        "y": 820,
        "wires": []
    },
    {
        "id": "f52a5c3ce7fbd734",
        "type": "comment",
        "z": "8e837879367e8f02",
        "name": "Cont man ad.",
        "info": "Control manual adelante",
        "x": 70,
        "y": 940,
        "wires": []
    },
    {
        "id": "132cd6e34fd14726",
        "type": "mqtt out",
        "z": "8e837879367e8f02",
        "name": "",
        "topic": "casa/salon/manualadelante",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bb51fa069205ab1",
        "x": 460,
        "y": 900,
        "wires": []
    },
    {
        "id": "6169eb4e48484b40",
        "type": "ui_button",
        "z": "8e837879367e8f02",
        "name": "",
        "group": "7698a48cf88fb1a4",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "ON",
        "tooltip": "",
        "color": "white",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 210,
        "y": 920,
        "wires": [
            [
                "132cd6e34fd14726",
                "d7c4f2671704be16"
            ]
        ]
    },
    {
        "id": "f5e05c995a304dbc",
        "type": "ui_button",
        "z": "8e837879367e8f02",
        "name": "",
        "group": "7698a48cf88fb1a4",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 980,
        "wires": [
            [
                "132cd6e34fd14726",
                "d7c4f2671704be16"
            ]
        ]
    },
    {
        "id": "ec5ef1f7c986a543",
        "type": "ui_led",
        "z": "8e837879367e8f02",
        "order": 4,
        "group": "7698a48cf88fb1a4",
        "width": 4,
        "height": 1,
        "label": "Manual  atras",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 530,
        "y": 960,
        "wires": []
    },
    {
        "id": "d7c4f2671704be16",
        "type": "function",
        "z": "8e837879367e8f02",
        "name": "function 3",
        "func": "if (msg.payload === \"ON\") {\n    msg.payload = \"ON\";  // Enviar señal para encender el LED\n} else {\n    msg.payload = \"OFF\";  // Enviar señal para apagar el LED\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 960,
        "wires": [
            [
                "ec5ef1f7c986a543"
            ]
        ]
    },
    {
        "id": "e5e16b14ae7796bc",
        "type": "comment",
        "z": "8e837879367e8f02",
        "name": "Cont man at.",
        "info": "Control manual atras",
        "x": 70,
        "y": 1060,
        "wires": []
    },
    {
        "id": "05706fda711f5290",
        "type": "mqtt out",
        "z": "8e837879367e8f02",
        "name": "",
        "topic": "casa/salon/manualatras",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bb51fa069205ab1",
        "x": 450,
        "y": 1020,
        "wires": []
    },
    {
        "id": "76b87c379c4a8d32",
        "type": "ui_button",
        "z": "8e837879367e8f02",
        "name": "",
        "group": "7698a48cf88fb1a4",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "ON",
        "tooltip": "",
        "color": "white",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 210,
        "y": 1040,
        "wires": [
            [
                "05706fda711f5290",
                "270c94eec03e689e"
            ]
        ]
    },
    {
        "id": "88b5ad31b7bfcef2",
        "type": "ui_button",
        "z": "8e837879367e8f02",
        "name": "",
        "group": "7698a48cf88fb1a4",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 1100,
        "wires": [
            [
                "05706fda711f5290",
                "270c94eec03e689e"
            ]
        ]
    },
    {
        "id": "51e6d3740d5c7733",
        "type": "ui_led",
        "z": "8e837879367e8f02",
        "order": 7,
        "group": "7698a48cf88fb1a4",
        "width": 4,
        "height": 1,
        "label": "Manual adelante",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 530,
        "y": 1080,
        "wires": []
    },
    {
        "id": "270c94eec03e689e",
        "type": "function",
        "z": "8e837879367e8f02",
        "name": "function 4",
        "func": "if (msg.payload === \"ON\") {\n    msg.payload = \"ON\";  // Enviar señal para encender el LED\n} else {\n    msg.payload = \"OFF\";  // Enviar señal para apagar el LED\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1080,
        "wires": [
            [
                "51e6d3740d5c7733"
            ]
        ]
    },
    {
        "id": "fe06541230618e14",
        "type": "mqtt in",
        "z": "8e837879367e8f02",
        "name": "suscriptor",
        "topic": "falla/alta_gas",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6bb51fa069205ab1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 580,
        "wires": [
            [
                "bf9bc90c862cd3ea"
            ]
        ]
    },
    {
        "id": "1e5e706051ac433f",
        "type": "mqtt in",
        "z": "8e837879367e8f02",
        "name": "suscriptor",
        "topic": "falla/alta_humedad",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6bb51fa069205ab1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 460,
        "wires": [
            [
                "bf9bc90c862cd3ea"
            ]
        ]
    },
    {
        "id": "bd3dbee3fc345eab",
        "type": "comment",
        "z": "8e837879367e8f02",
        "name": "fallas en el sistema",
        "info": "",
        "x": 610,
        "y": 500,
        "wires": []
    },
    {
        "id": "3e4c191f71b92fcd",
        "type": "comment",
        "z": "8e837879367e8f02",
        "name": "Temperatura",
        "info": "",
        "x": 70,
        "y": 120,
        "wires": []
    },
    {
        "id": "5fd66e249cc664e9",
        "type": "comment",
        "z": "8e837879367e8f02",
        "name": "Humedad",
        "info": "",
        "x": 60,
        "y": 260,
        "wires": []
    },
    {
        "id": "9bc81fc94df21727",
        "type": "comment",
        "z": "8e837879367e8f02",
        "name": "Gas CO2",
        "info": "",
        "x": 60,
        "y": 400,
        "wires": []
    },
    {
        "id": "04e225e2b1fc0a4c",
        "type": "comment",
        "z": "8e837879367e8f02",
        "name": "Conteo de producción",
        "info": "",
        "x": 640,
        "y": 660,
        "wires": []
    },
    {
        "id": "f39f34a3269dd5a9",
        "type": "comment",
        "z": "8e837879367e8f02",
        "name": "esp-32 CAM",
        "info": "",
        "x": 410,
        "y": 740,
        "wires": []
    },
    {
        "id": "1ddd0a0ed5a95e49",
        "type": "comment",
        "z": "8e837879367e8f02",
        "name": "Capturar imagen ponedora",
        "info": "Control manual atras",
        "x": 110,
        "y": 1280,
        "wires": []
    },
    {
        "id": "e9ddbb6d2e2cac9b",
        "type": "ui_button",
        "z": "8e837879367e8f02",
        "name": "",
        "group": "0bb14a4b4f1f37c9",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Capturar imagen ponedora",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "capturar",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 1280,
        "wires": [
            [
                "0384c84129dbdc81",
                "ab0d5ba0e66c5606"
            ]
        ]
    },
    {
        "id": "0384c84129dbdc81",
        "type": "mqtt out",
        "z": "8e837879367e8f02",
        "name": "",
        "topic": "casa/salon/foto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bb51fa069205ab1",
        "x": 620,
        "y": 1280,
        "wires": []
    },
    {
        "id": "ab0d5ba0e66c5606",
        "type": "debug",
        "z": "8e837879367e8f02",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1340,
        "wires": []
    },
    {
        "id": "70582f0c66a3ec4b",
        "type": "comment",
        "z": "8e837879367e8f02",
        "name": "Cont man at.",
        "info": "modos de servo camara",
        "x": 150,
        "y": 1440,
        "wires": []
    },
    {
        "id": "4503139a170d3256",
        "type": "mqtt out",
        "z": "8e837879367e8f02",
        "name": "",
        "topic": "casa/salon/posicion",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bb51fa069205ab1",
        "x": 510,
        "y": 1400,
        "wires": []
    },
    {
        "id": "9f1cf3ca55d6ac44",
        "type": "ui_button",
        "z": "8e837879367e8f02",
        "name": "",
        "group": "7698a48cf88fb1a4",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "0°",
        "tooltip": "",
        "color": "white",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "str",
        "x": 290,
        "y": 1420,
        "wires": [
            [
                "4503139a170d3256",
                "386063427d3804c5"
            ]
        ]
    },
    {
        "id": "ffa617de3a92b2d1",
        "type": "ui_button",
        "z": "8e837879367e8f02",
        "name": "",
        "group": "7698a48cf88fb1a4",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "90°",
        "tooltip": "",
        "color": "",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 1480,
        "wires": [
            [
                "4503139a170d3256",
                "386063427d3804c5"
            ]
        ]
    },
    {
        "id": "386063427d3804c5",
        "type": "ui_led",
        "z": "8e837879367e8f02",
        "order": 10,
        "group": "7698a48cf88fb1a4",
        "width": 4,
        "height": 1,
        "label": "servo de camara",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 490,
        "y": 1480,
        "wires": []
    },
    {
        "id": "04b1fc0a68879789",
        "type": "inject",
        "z": "8e837879367e8f02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1360,
        "wires": [
            [
                "e9ddbb6d2e2cac9b"
            ]
        ]
    },
    {
        "id": "9a41db50d38b3ebb",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "f3f4bfbca38e9017",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "44c6a0d043442540",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "a8f6d72125c71bc5",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "6f94feaacc09779c",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "a8a1367df7358d11",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "d2b077589a29109c",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "2d73c142b0fe3419",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "95ae4fcfebadd18f",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "24eb629612426092",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "3fa0b1fb02d7bb02",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "cffe30bc1c950b05",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "b7dc2613941ca50c",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "c4723bf5494c26f7",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "268e4acc089fb094",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "d1e37685d606f661",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "c928bf630372c77e",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "d2344ea29853fdc6",
        "type": "ui_spacer",
        "z": "8e837879367e8f02",
        "name": "spacer",
        "group": "75bdbee033ba583f",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "6bb51fa069205ab1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.141.204",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "75bdbee033ba583f",
        "type": "ui_group",
        "name": "Parámetros",
        "tab": "aff774fad617cff5",
        "order": 1,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0bb14a4b4f1f37c9",
        "type": "ui_group",
        "name": "Fallas del sistema",
        "tab": "aff774fad617cff5",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7698a48cf88fb1a4",
        "type": "ui_group",
        "name": "Control Automático/Manual",
        "tab": "aff774fad617cff5",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aff774fad617cff5",
        "type": "ui_tab",
        "name": "Proyecto Mecatrónico - Robot Avícola",
        "icon": "Interfaz Gráfica",
        "disabled": false,
        "hidden": false
    }
]